<div class="row" id="featured-header"> 
    <div class="col-12">
        <h1>Check out these awesome bands!</h1>
    </div>
</div>
<div class="row" id="featured-bands">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://via.placeholder.com/180x100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Elit Egestas Tellus</h5>
                <p class="card-text">Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://via.placeholder.com/180x100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Elit Egestas Tellus</h5>
                <p class="card-text">Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://via.placeholder.com/180x100" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Elit Egestas Tellus</h5>
                <p class="card-text">Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</div>